useDynLib(tensorsparse, .registration = TRUE)

import(parallel)
importFrom("stats", "kmeans", "sd")
importFrom("stats", "rnorm", "runif")
importFrom("stats", "quantile")

# functions
export(
	tbmClustering,
	getOrder3Tensor,
	chooseLambda,
	chooseClusteringSize,
	getOrder4Tensor
)


